.main-title {
  color: #15355e;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.form {
  margin: 5px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn-return {
  color: #15355e;
  align-items: center;
  background-color: #15355e;
  color: #f2f2f2;
  border: 2px solid #15355e;
  width: 70px;
  height: 70px;
  padding: 15px 15px;
  border-radius: 35px;
  font-size: 30px;
}

.btn-return:hover {
  color: #15355e;
  background-color: #f7db36;
}

.btn-register {
  color: #15355e;
  align-items: center;
  background-color: #f7db36;
  color: #15355e;
  border: 2px solid #f7db36;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
  width: "196.7px";
  letter-spacing: 0.03em;
  text-transform: uppercase;
  height: 40px;
}

.cancel-btn {
  background-color: #ffffff;
}
